<header class="Header">
  <div class="Header-project u-textCenter">
    <button class="Header-button" type="button">
      <svg>
        <use xlink:href="#s-menu"></use>
      </svg>
    </button>
    <a href="/" class="Header-logo">
      <svg><use xlink:href="#s-logo"></use></svg>
    </a>
  </div>
</header>