.Header {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 50px;
  color: #333;
  background-color: white;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, .3);
}

.Header-button {
  position: absolute;
  left: 0;
  top: 0;
  width: 3rem;
  height: 3rem;
  z-index: 10;
  appearance: none;
  border: 0;
  background: 0 0;
}

.Header-button svg {
  width: 2rem;
  height: 2rem;
  fill: #333;
}

.Header-logo svg {
  height: 50px;
  width: 114px;
  fill: var(--color-key);
}

@media (--lg-viewport) {
  .Header-project {
    position: relative;
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
  }
}
