.PostLayout {
  overflow: auto;
  display: grid;
  justify-content: space-between;
  grid-column-gap: 20px;
  width: 100%;
  background: #f5f5f5;
}

@media (--lg-viewport) {
  .PostLayout {
    grid-template-columns: auto 300px;
    grid-column-gap: 20px;
    width: 100%;
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
    background: white;
  }
}
